*{
    margin:0;
    padding:0;
}
.container{
    width: 100%;
    height:100vh;
    background-color: rgb(32,145,221);
}
ul{
    position:absolute;
    top:5%;
    right:5%;
}
ul li{
    list-style:none;
    display:inline-block;
    margin-right:50px;
    

}
ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color:white;
}
.thumbnail{
    padding-top:7%;
}
.thumbnail li{
    list-style:none;
    position:relative;
    margin-top: 50px;
}
.thumbnail img{
    display:block;
    max-width:120px;
    transistion:0.5s;
}
.thumbnail img:hover{
    transform:translateX(30px);
    transistion:0.5s;

}
.big-img img{
    position:absolute;
    left:15%;
    top:22%;
    max-width: 400px;
    max-height: 450px;

}
.content{
    position:absolute;
    cursor:pointer;
    max-width:40%;
    right:3%;
    top:20%;
}
.content p{
    color:black;
    font-size:50px;
    font-weight:700;
    test-shadow:2px 0px 5px rgba(0,0,0,0.5);
    font-family:Helvetica;
    margin-left: 8%;
}
.content h1{
    font-size:80px;
    font-weight:600 ;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(28,211,211);
    text-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}
.content h5{
    font-size: 22px;
    font-weight: bold;
    color: chocolate;
    font-family:  sans-serif;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    margin-left: 10%;


}
.path{
    position:absolute;
    width:100%;
    height:100vh;
    background: #e5e5e5;
    clip-path:circle(620px at left 600px);
}

